.inheritance {
	.alert-success, .alert-info, .alert-danger, .alert-warning {
	  text-align: center;
	  font-weight: bold;
	  color: #FFFFFF;
	}

	.alert-success {
	  background: $green;
	}

	.alert-info {
	  background: $blue;
	}

	.alert-warning {
	  background: $yellow;
	}

	.alert-danger {
	  background: $red;
	}
}

