@mixin background($color){
	@extend .alert;
	background: $color;
}

.inheritance {
	.alert {
	  text-align: center;
	  font-weight: bold;
	  color: #FFFFFF;
	}

	.alert-success {
	  @include background($green);
	}

	.alert-info {
	  @include background($blue);
	}

	.alert-warning {
	   @include background($yellow);
	}

	.alert-danger {
	   @include background($red);
	}
}