@mixin shadow($color) {
	-webkit-box-shadow: -4px 9px 7px -5px $color;
	  -moz-box-shadow: -4px 9px 7px -5px $color;
	  box-shadow: -4px 9px 7px -5px $color;
}

.mixins {
	.mixins .col-md-12 {
	  margin: 0 0 20px 0;
	}

	.mixins .alert, .mixins button, .mixins .progress {
		@include shadow(rgba(122,122,122,1));
		@include shadow(rgba(122,122,122,1));
		@include shadow(rgba(122,122,122,1));
	}
}