@import 'mixins';
.nesting {
	.panel.panel-default {
		.panel-heading {
  			color: #FFFFFF;
  			background: $green;
        }
  		.panel-body .panel.panel-default{
  			@include shadow(rgba(122,122,122,1));
  			.panel-heading {
  				background: $blue;
  			}
  			.panel-body .panel.panel-default .panel-heading {  			
  				background: $red;
  			}
		}
  	}
}

